{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% include 'home/header.html' %}


<div class="container">
    <h2>Ми раді дружити :)</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{form | crispy}}
        </div>
        <!--<div class="checkbox">-->
        <!--<label><input type="checkbox" name="remember"> Remember me</label>-->
        <!--</div>-->
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <br>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign in</a>
        </small>
    </div>

</div>
<br><br>
{% include 'home/footer.html' %}
{% endblock %}
