{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% include 'home/header.html' %}

    <br><br>
	<div class="container">
	  <h2>Оформлення замовлення ліків:</h2>
	  <form method="POST">
	  	{% csrf_token %}
	    <div class="form-group">
	      {{form | crispy}}
	    </div>
	    <button type="submit" class="btn btn-default">Submit</button>
	  </form>

	<br>
	</div>

{% endblock %}
