{% extends 'home/base.html' %}
{% block content %}

{% include 'home/header.html' %}


<!--<div class="main">-->
<div class="container">
    <div class="main">
        <!--<div class="row">-->
        {% for product in data %}
        <div class="item">
            {% if product.image %}
            <img src="data:image/jpeg;charset=utf-8;base64, {{ product.image }}" class="pills_img">
            {% endif %}
            <p>{{ product.name }} </p>
            <b> Price: {{product.pharma_price}} UAH</b>
        </div>
        {% endfor %}
        <!--</div>-->
    </div>
</div>
{% include 'home/footer.html' %}
{% endblock %}