{% extends 'home/base.html' %}

{% block content %}
{% include 'home/header.html' %}

<div class="container">
    <br>
    <div class=" text-xs-center">
        <h1 class="display-3">Мережа аптек AMedics</h1>
        <p class="lead"><strong>Ми маленька мережа українських аптек, із хорошим настроєм і бажанням <br> допомагати людям.</strong></p>
        <img src="../../static/home/img/pharm.jpg" style="height: 350px;"/>
        <hr>
    </div>

</div>


{% include 'home/footer.html' %}
{% endblock %}