<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    {% block css_header %}{% endblock %}
    {% block js_header %}{% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    {% block css_bottom %}{% endblock %}
    {% block js_bottom %}{% endblock %}

</body>
</html>