
<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
              <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                <p>Ми маленька мережа українських аптек, із хорошим настроєм і бажанням допомагати людям.</p>
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2018</span> <span>All Rights Reserved.</span></p>
              </div>
            </div>
            <div class="col-md-4">
              <h5>Contacts</h5>
              <dl class="contact-list">
                <dt>Розташування:</dt>
                <dd>Львів, Університетська 2 (поблизу метро)</dd>
              </dl>
              <dl class="contact-list">
                <dt>Електронна адреса:</dt>
                <dd><a href="mailto:#">pharm_lnu@pharm_lnu.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>Мобільний:</dt>
                <dd><a href="tel:#">+380 98 0 555555</a> <span>or</span> <a href="tel:#">+380 98 0 345525</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
              <h5>Links</h5>
              <ul class="nav-list">
                <li><a href="{% url 'home_about' %}">About</a></li>
                <li><a href="{%url 'shop' %}">Pricing</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row no-gutters social-container">
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
        </div>
  </footer>