{% load static %}
<div class="header">
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'home' %}" id="title_link"><h3>AMedics</h3></a>
        </div>
        <div class="col-md-6 align-self-center custom_header_btns">
            {% if user.is_authenticated %}
            <a href="{% url 'shop_order_storage' %}" class="btn btn-primary" role="button">Order</a>
            <a href="#" class="btn btn-warning" role="button">Make an order</a>
            <a href="{% url 'logout' %}" class="btn btn-danger" role="button">Log Out</a>

            {% else %}
                <a href="{% url 'register' %}" class="btn btn-warning" role="button">Sign Up</a>
                <a href="{% url 'login' %}" class="btn btn-primary" role="button">Log In</a>
            {% endif %}
        </div>
    </div>
</div>