{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>pharm_lnu</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link rel="icon" href="{% static 'home/img/favicon.ico' %}">

    <style>
        html{
            background: url({% static 'home/img/bg.jpg' %}) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>

<!--<div class="home_cover">-->
<div class="container_custom">

    <a href="{% url 'shop' %}">
        <img src="../../static/home/img/shop.jpg" alt="online pharm" class="img_button">
    </a>

    <a href="{% url 'login' %}">
        <img src="../../static/home/img/system.jpg" alt="system" class="img_button">
    </a>

    <a href="{% url 'contact_us' %}">
        <img src="../../static/home/img/cooperation.jpg" alt="cooperation" class="img_button">
    </a>

    <!--</div>-->
</div>
</body>
</html>