{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% include 'home/header.html' %}
<div class="container">
	<div class="main">
		<div class=" text-xs-center">
            <h1 class="display-3">Thank You!</h1>
            {% if messages %}
                {% for message in messages %}
                    <p class="lead"><strong>{{ message }}</strong></p>
                {% endfor %}
            {% endif %}

            <hr>
            <p>
                Having trouble? <a href="{% url 'contact_us' %}">Contact us</a>
            </p>
        </div>

	</div>
</div>

{% include 'home/footer.html' %}
{% endblock %}


