.img_button
{
	/*height: 150px;*/
	width: 100%;
}

.container_custom{

	width: 20%;
	margin-left: 10%;
	/*background-color: white;*/
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

body{
	margin:0;
	padding: 0;
}
.header{
	/* padding: 5px; */
	/*margin-bottom: 10px;*/
	padding-bottom: 0px;
	padding-left: 135px;
	padding-right: 30px;
	-webkit-box-shadow: 3px 3px 7px #000000;
	-moz-box-shadow: 3px 3px 7px #000000;
	box-shadow: 3px 3px 7px #000000;
	background-color: #8ac53e;
}

.main{
	/*margin-top: 20px;*/
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-content: space-around;
	min-height: 700px;
}
.footer{
	margin-top: 50px;
	background-color: #151618;
	color:white;
	font-family: Verdana, Geneva, sans-serif;
	padding:10px;
	font-size: 12pt;
}

.item{
	border: 1px solid #4169E1;
	background-color: #DDDDDD;
	padding: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12pt;
	color: #888888;
	text-align: center;
	outline: 0px solid #000000;
	margin: 10px 10px 10px 0;
}

.item:hover{
	-webkit-box-shadow: 2px 2px 14px #000000;
	-moz-box-shadow: 2px 2px 14px #000000;
	box-shadow: 2px 2px 14px #000000;
	border: 1px solid #4169E1;
	background-color: #DDDDDD;
	padding: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12pt;
	color: #888888;
	text-align: center;
	outline: 0px solid #000000;
}

.pills_img{
	height: 200px;
}


#title_link{
    color: black;
    text-decoration: none;
}


.custom_header_btns {
    padding: 10px 0 10px 0;
}












.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}



.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}